* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #ffb6c1;
}

.dark-mode {
  background-color: #1c1c1c;
}
.world-clock-app {
  background-color: #fff;
  max-width: 600px;
  height: auto;
  margin: 40px auto;
  padding: 20px;
  border-radius: 40px;
}
.world-clock-app-dark {
  background-color: #2e2e2e;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

h1 {
  margin: 20px 0;
  font-size: 36px;
}
button {
  padding: 10px;
  margin: 0 0 60px 20px;
  border: none;
  border-radius: 50px;
  background-color: #ffb6c1;
  font-size: 12px;
  cursor: pointer;
}
.button-dark {
  background-color: #c560c1;
  color: #fff;
}

.select-location-time {
  padding: 10px;
  width: 96%;
  font-size: 16px;
}
.select-location-time-dark {
  background-color: #c560c1;
  color: #fff;
  border: none;
}

.col-1 {
  margin: 20px 0;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ccc;
}

.col-1 h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.col-1 p {
  font-size: 16px;
  opacity: 0.7;
}

.current-time {
  font-size: 46px;
  font-weight: 700;
}
footer {
  font-size: 15px;
  opacity: 0.7;
  margin-top: 20px;
  text-align: center;
}

.link-dark {
  color: #c560c1;
}
